<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bid Zone</title>
  <link rel="stylesheet" href="../resources/css/navbar.css">
  <link rel="stylesheet" href="../resources/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../resources/js/utils.js"></script>
  <script src="../resources/js/listing.js"></script>
  <script src="../resources/js/header.js"></script>
  <script src="../resources/js/logout.js"></script>
</head>
<body onload="setCountDown('{{ listing.ending }}')">

<div class="custom-navbar">
  <a href="home.html">Home</a>
  <a href="bids.html">My Bids</a>
  <!-- Navigation links based on user permissions -->
  <a href="history.html">History</a>
  <a href="management.html">Management</a>
  <a href="statistics.html">Statistics</a>
  <div class="custom-navbar-right">
    <!-- Dynamic greeting with username -->
    <a id="welcome-user-link" href="profile.html">Welcome <span id="username-placeholder"></span> <i class="fa fa-fw fa-user"></i></a>
    <a href="javascript:logout()"><i class="fa fa-fw fa-sign-out"></i></a>
  </div>
</div>

<section class="jumbotron text-center custom-section">
  <div class="container">
    <h1>
      Listing
      <!-- Buttons for editing/deleting listing -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</button>
      <button type="button" class="btn btn-primary button-red" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </h1>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/resources/images/listings/{{ listing.id }}/{{ listing.image }}" class="listing-image">
      </div>
      <div class="details col-md-8">
        <h2>Name: {{ listing.name }}</h2>
        <p><strong>Category: </strong>{{ listing.category }}</p>
        <p><strong>Description: </strong>{{ listing.description }}</p>
        {% if isActive %}
        <p>
          <strong>Ending: </strong>
          <span id="timer"></span>
        </p>
        <p>
          <strong>Current Price: </strong>&euro;{{ listing.price | number_format(2) }}
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bidModal">
          Place bid
        </button>
        <p><strong>Bids: </strong></p>
        <ul class="list-group">
          {% for bid in bids %}
          <li class="list-group-item">
            {{ bid.timestamp | date('Y-m-d H:i') }}:
            &euro;{{ bid.price | number_format(2) }} by {{ bid.user.username }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>
          <strong>Ended: </strong>{{ listing.ending | date('Y-m-d H:i') }}
        </p>
        <p>
          <strong>Price Sold: </strong>&euro;{{ winnerPrice | number_format(2) }}
        </p>
        <p>
          <strong>Winner: </strong>{{ winner }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal for placing bids -->
<div id="bidModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="modal-content" action="/listing/placeBid/{{ listing.id }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title">Bid</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="price" class="col-form-label">Price</label>
            <input type="number" class="form-control" id="price" min="{{ listing.price + 1 }}" step="1" placeholder="Enter Price" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Place bid</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for editing listing -->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="modal-content" action="/listing/{{ listing.id }}" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title">Edit Listing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name" value="{{ listing.name }}" placeholder="Enter Name" minlength="6" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Description</label>
            <input type="text" class="form-control" id="description" value="{{ listing.description }}" placeholder="Enter Description" minlength="6" maxlength="200" required>
          </div>
          <div class="form-group">
            <label for="category" class="col-form-label">Category</label>
            <input type="text" class="form-control" id="category" value="{{ listing.category }}" placeholder="Enter Category" minlength="6" maxlength="20" required>
          </div>
          <div class="form-group">
            <label for="ending" class="col-form-label">Ending</label>
            <input type="datetime-local" class="form-control" id="ending" value="{{ listing.ending | date('Y-m-d\\TH:i') }}" required>
          </div>
          <div class="form-group">
            <label for="file" class="col-form-label">Image</label>
            <input type="file" id="file" class="form-control" size="5" accept=".png,.jpg">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for deleting listing -->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="modal-content" action="/listing/delete/{{ listing.id }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title">Delete Listing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary button-red">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
