.custom-section {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 0px !important;
}

.listing-image {
    max-width: 100%;
    height: 400px;
}

.list-group{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.button-red {
    background-color: #D8000C !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-container {
    padding: 16px;
}