body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

input[type=text], input[type=password], input[type=number], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancel-button {
    background-color: #f44336;
}

.cancel-button, .signup-button {
    float: left;
    width: 50%;
}

.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.sign-up-container {
    height: 80%;
    overflow: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin:auto;
    border: 1px solid #888;
    width: 50%;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animate-zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animate-zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    .cancel-button, .signup-button {
        width: 100%;
    }
}

.error-message {
    color: #D8000C;
}

.login-img {
    width: 100%;
    max-width: 462px;
    height: 400px;
}

.select2-selection__choice__remove{
    width: auto !important;
}
